[Unit]
Description=Boot Animation
DefaultDependencies=no
After=local-fs.target
Before=getty@tty1.service
Conflicts=getty@tty1.service

[Service]
Type=oneshot
ExecStart=/usr/bin/boot-animation.sh
RemainAfterExit=no

[Install]
WantedBy=basic.target